// @use "../abstract/variables" as *;
@use "../abstract/placeholders";

.MainMenu {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  height: 100%;

  .MainMenu_top {
    display: grid;
    grid-template-columns: 560px auto;
    width: 90%;
    

    @media (max-width: 1400px) {
      & {
        grid-template-columns: 360px auto;
      }
    }

    .cardGameModeOptions {
      display: flex;
      flex-flow: column;
      margin-top: 6rem;
      // margin-left: 3rem;
      // justify-content: center;
      // align-items: center;

      .cardGameModeOptions_inner {
        h2 {
          font-size: 1.5rem;
          width: 65%;
        }

        .cardGameModeOptions_text {
          font-size: 1.3rem;
        }
      }
    }

    .inputContainer {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      // width: 800px;
      flex: 1;

      & > *{
        flex: 1;
      }
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0;
    padding: 20px 0;
    gap: 100px;

    > .finishButton,
    > .optionButton {
      @extend %commonButton;
    }
  }
}
