@use "../abstract/placeholders";

.optionContainer {
    padding: 10px;
    width: 520px;
  
    h1{
      font-size: 1.5rem;
      text-decoration: underline;
    }

    p {
      font-size: 1.2rem;
    }
  
    .buttonContainer {
      display: flex;
      width: 100%;
      justify-content: center;
  
      .returnButton {
        @extend %commonButton;
        padding: 10px;
        min-height: 0;
      }
    }
  }
  