
@use '../abstract/placeholders' as *;

.textInputGroup {
  .wordInput {
    font-size: 2rem;
    padding: 5px 2px;

    input[type="text"] {
        padding: 0 5px;
        width: 85%;

        // @media (max-width: 1100px) {
        //   & {
        //     width: 70%;
        //   }
        // }

        &::placeholder{
          color: red;
        }
    }
    .deleteButton {
      appearance: none;
      background-color: rgb(250, 36, 36);
      color: white;
      padding: 0 10px;
      transition: all .2s;

      &:hover{
        background-color: rgb(255, 126, 126);
      }
    }
  }
  > .addButtonContainer {
    text-align: center;
    > .addButton {
        @extend %commonButton
    }
  }
}
