@use "../abstract/placeholders" as *;

.wordGame {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  height: 100%;

  .topPictureDisplay {
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px black solid;
    width: 100%;

    .topPictureDisplay_buttons {
      position: absolute;
      left: 0;
      margin: 10px 0 0 10px;

      .topPictureDisplay_button {
        margin-right: 10px;
        padding: 10px 20px;
        height: 0;
        @extend %commonButton;
      }
    }

    .topPictureDisplay_imageContainer {
      height: 300px;
      width: 300px;
      // opacity: 0;
      // transform: translateX(-50px);
      // transition: all 0.8s;

      .topPictureDisplay_image {
        height: 100%;
        margin: 0 auto;
      }

      &.fadein {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .topPictureDisplay_definitionContainer {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 70%;
      // opacity: 0;
      // transform: translateX(-50px);
      // transition: all 0.8s;

      .topPictureDisplay_definition {
        font-size: 5rem;
      }

      &.fadein {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    & ~ .wordGame_bottom {
      padding: 5px 100px 10px 0;
    }
  }

  .wordGame_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;

    .wordGame_container {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      flex: 1;
      height: 100%;
      background-color: rgb(221, 217, 217);
    }

    .scoreBoard_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      background-color: rgb(214, 241, 141);
    }

    // .scoreBoard_container {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 200px;
    //   background-color: rgb(214, 241, 141);
    // }
  }

  .wordGame_bottom {
    display: flex;
    justify-content: end;
    gap: 60px;
    padding: 20px 0px;
    padding-right: 100px;
    .mainMenuButton {
      @extend %commonButton;
    }

    .slideShowButton {
      @extend %commonButton;
    }
  }
}
